.btn {
  padding: 10px;
  font-weight: 400;
  margin-right: 5px;
}

.feature-board-all {
  display: flex;
  justify-content: space-between;
}

.feature-board-all form {
  margin-top: 30px;
}

.feature-board-all .title {
  margin: 25px 0 10px;
}

.feature-request-list {
  background-color: #fcb9b9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s all;
}

.feature-request-list:hover {
  background-color: #ff8181;
  cursor: pointer;
}

.feature-request-list .bottom span {
  background-color: #f13b3b;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 5px;
  color: white;
}

.feature-add-content {
  display: none;
}

.input-group {
  margin-top: 20px;
}

.btn-group {
  margin-top: 30px;
}

.back-to-req {
  margin-left: 10px;
}

.show-tags {
  margin-top: 10px;
}

.tag {
  background-color: #cd2653;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px 12px;
  margin-right: 10px;
  font-size: 14px;
  transition: 0.3s all;
}

.tag:hover {
  cursor: pointer;
  background-color: #ac0b36;
}

.show {
  display: none;
}

.request-details {
  display: none;
}

.feature-vote-wrapper {
  display: flex;
  justify-content: space-between;
}

.feature-vote-wrapper .single-feature-status {
  display: inline-block;
  background-color: #cd2653;
  color: #fff;
  padding: 2px 6px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.feature-vote-wrapper .vote {
  margin-top: 50px;
}

.tags-error {
  display: none;
}

.tags-wrapper span {
  background-color: #f13b3b;
  color: white;
  padding: 2px 6px;
  margin-right: 8px;
  border-radius: 6px;
  font-size: 20px;
}

.request-comments-wrapper {
  margin-top: 0;
}

.request-comments-wrapper .request-comment {
  margin: 8px 0;
  background-color: #fcb9b9;
  border-radius: 5px;
  padding: 10px;
}

.request-comments-wrapper .request-comment p {
  margin-bottom: 5px;
}

#login-form {
  display: none;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination-active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 700px) {
  div {
    margin-top: 0;
  }
}
